@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #21acf8;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* ---------------------- Nav -------------------------- */

.Header {
  width: 100%;
  height: 100vh;
}

.header-Nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Nav-ul {
  width: 900px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.Nav-li {
  list-style: none;
}

.Nav-Link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.Nav-li-Resume {
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 6px;
}

/* ---------------------- Header -------------------------- */

.header-Profile {
  width: 100%;

  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.profile-Info {
  width: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 20px;
}

.info-Name {
  font-size: 100px;
  font-weight: 700;
}

.info-Description {
  font-size: 30px;
  font-weight: 600;
}

.btnHireMe {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #21acf8;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  display: flex;
  gap: 4px;
  align-items: center;
}

#emailIcon {
  font-size: 25px;
}

.socialNetworks {
  font-size: 50px;
}

/* ---------------------- About -------------------------- */

.main {
  display: grid;
  place-content: center;
}

.about {
  max-width: 1000px;
  padding: 100px 0;
  margin: 0 20px;
}

.sectionTitle {
  position: relative;
  font-size: 60px;
  margin-bottom: 20px;
}

.sectionTitle::after {
  content: "";

  background-color: #fff;
  height: 4px;
  width: calc(100% - 300px);
  position: absolute;
  top: 50%;
  left: 300px;
}

.aboutContainer {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 60px;
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutParagraph {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.aboutPicture {
  min-width: 350px;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-IMG {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* ---------------------- Projects -------------------------- */

.projects {
  max-width: 1000px;
  padding: 100px 0;
  margin: 0 20px;
}

.projectsTitle {
  position: relative;
  font-size: 60px;
  margin-bottom: 20px;
}

.projectsTitle::after {
  content: "";

  background-color: #fff;
  height: 4px;
  width: calc(100% - 260px);
  position: absolute;
  top: 50%;
  left: 260px;
}

.projectsContainer {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 60px;
}

.projectItem {
  width: 45%;
}

.projectItem:nth-child(1) {
  margin-bottom: 50px;
}

.projectName {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.projectIMG {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.projectDescription {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;

  margin-bottom: 20px;
}

.projectBtns {
  display: flex;
  gap: 20px;
}

.btnProject {
  text-decoration: none;
  color: #21acf8;
  font-weight: 600;
  font-size: 20px;
  padding: 4px 10px;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  gap: 4px;
  align-items: center;
}

#projectBtnIcon {
  font-size: 25px;
}

/* ---------------------- Skills -------------------------- */

.skills {
  max-width: 1000px;

  padding: 100px 0;
  margin: 0 20px;
}

.skillsTitle {
  position: relative;
  font-size: 60px;
  margin-bottom: 20px;
}

.skillsTitle::after {
  content: "";

  background-color: #fff;
  height: 4px;
  width: calc(100% - 160px);
  position: absolute;
  top: 50%;
  left: 160px;
}

.skillsContainer {
  margin-top: 40px;
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}

.skillsItem {
  width: 30%;
  min-width: 200px;
  height: 200px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  border: 4px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.skillsItem:nth-child(1) {
  margin-bottom: 40px;
}

#skillIcon {
  font-size: 100px;
}
.skillIcon {
  width: 100px;
  height: 100px;
  padding: 8px;
}

/* ---------------------- Education -------------------------- */

.education {
  max-width: 1000px;

  padding: 100px 0;
  margin: 0 20px;
}

.educationTitle {
  position: relative;
  font-size: 60px;
  margin-bottom: 40px;
}

.educationTitle::after {
  content: "";

  background-color: #fff;
  height: 4px;
  width: calc(100% - 330px);
  position: absolute;
  top: 50%;
  left: 330px;
}

.educationName {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: #21acf8;
  background-color: #ffffff;
  padding: 2px 8px;
}

.educationParagraph {
  font-size: 20px;
  padding: 2px 8px;
}

.educationDate {
  font-size: 20px;
  font-weight: 600;
  padding: 2px 8px;
}

.educationItem {
  margin-bottom: 40px;
  display: grid;
  gap: 6px;
  border: 4px solid #fff;
  border-radius: 8px;
  overflow: hidden;
}

/* ---------------------- Contact -------------------------- */

.contact {
  max-width: 1000px;

  padding: 100px 0;
  margin: 0 20px;
}

.contactTitle {
  position: relative;
  font-size: 60px;
  margin-bottom: 40px;
}

.contactTitle::after {
  content: "";

  background-color: #fff;
  height: 4px;
  width: calc(100% - 370px);
  position: absolute;
  top: 50%;
  left: 370px;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.socialEmailTitle,
.socialNetworksTitle {
  font-size: 30px;
  font-weight: 600;
}

.socialEmail {
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 20px;
}
.contactIcons {
  display: flex;
  gap: 10px;
}

#ContactIcon {
  font-size: 40px;
  color: #fff;
}
.contactSocial {
  width: 50%;
}
.contactForm {
  width: 50%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.contactFormHead {
  width: 100%;
  display: flex;
  gap: 10px;
}
.contactFormName {
  width: 40%;
}

.contactFormEmail {
  width: 60%;
}

.contactFormName,
.contactFormEmail,
.contactFormSubject,
.contactFormMessage,
.contactFormBtn {
  font-size: 20px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: #fff;
  color: #21acf8;
  border: none;
  outline: none;
}

.contactFormName::placeholder,
.contactFormEmail::placeholder,
.contactFormSubject::placeholder,
.contactFormMessage::placeholder,
.contactFormBtn::placeholder {
  color: #21acf8;
}

.contactFormMessage {
  height: 100px;
  resize: none;
  width: 100%;
}

.contactFormBtn {
  align-self: center;
  padding: 10px 16px;
}
