@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --gray: #ced8e2;
  --darkGray: #60747a;
  --darkBlue: #112b3d;
  --green: #1cc9a1;
  --White: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* ---------------------- Nav -------------------------- */

.Header {
  width: 100%;
}

.header-Nav {
  background-color: var(--darkBlue);

  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;

  backdrop-filter: blur(8px);
  z-index: 100;
  transition: top 0.5s ease-in-out;
}
.headerNavHide {
  top: -100px;
}
.headerNavShow {
  top: 0px;
}
.logoIMG {
  margin: 0 20px;
  width: 150px;
}

.Nav-ul {
  width: 810px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 20px 0 0;
}

.Nav-li {
  list-style: none;
  margin-left: 20px;
}

.Nav-Link {
  text-decoration: none;
  color: var(--green);
  font-size: 16px;
  font-weight: 600;
  position: relative;
}

.Nav-Link::before {
  content: "";
  height: 2px;
  width: 0%;
  background-color: var(--green);
  position: absolute;
  bottom: -4px;
  left: 50%;
}

.Nav-Link:hover::before {
  animation: borderLink 0.3s ease-in-out forwards;
}

.navLinkCurrent {
  position: relative;
}
.navLinkCurrent::before {
  content: "";
  height: 2px;
  width: 0%;
  background-color: var(--green);
  position: absolute;
  bottom: -4px;
  left: 50%;
  animation: borderLink 0.3s ease-in-out forwards;
}
.Nav-Link-Resume {
  text-decoration: none;
  color: var(--green);
  font-size: 18px;
  font-weight: 600;
  border: 2px solid var(--green);
  padding: 8px 15px;
  border-radius: 6px;
}

#menuClose {
  display: none;
}
#menuOpen {
  display: none;
}

@keyframes borderLink {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 900px) {
  .Nav-li {
    list-style: none;
    margin-left: 14px;
  }
}

@media screen and (max-width: 768px) {
  .Nav-ul {
    background-color: var(--darkBlue);
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    pointer-events: none;
  }

  #menuOpen {
    display: block;
    font-size: 40px;
    margin: 0 20px;
    color: var(--green);
  }
  .header-Nav {
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }
  #menuClose {
    display: block;
    font-size: 40px;
    position: absolute;
    top: 30px;
    right: 20px;
    color: var(--green);
  }
}

.menuShow {
  animation: MenuShow 0.2s ease-in-out forwards;
  pointer-events: all;
}

@keyframes MenuShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ---------------------- Header -------------------------- */

.header-Profile {
  background-color: var(--darkBlue);
  width: 100%;
  height: 100%;
  padding: 175px 0 100px;
  display: flex;
  justify-content: center;
}

.profile-Info {
  width: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 20px;
  position: relative;
}

.info-Name {
  color: var(--green);
  font-size: 98px;
  font-weight: 700;
}

.info-Description {
  color: var(--White);
  font-size: 30px;
  font-weight: 600;
}

.btnHireMe {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: var(--darkBlue);
  background-color: var(--green);
  padding: 10px 20px;
  border-radius: 6px;
  display: flex;
  gap: 4px;
  align-items: center;
}

#emailIcon {
  font-size: 25px;
}

.socialNetworks {
  font-size: 75px;
}
.socialIconLink {
  text-decoration: none;
  color: var(--green);
}

#btnScrollDown {
  color: var(--darkGray);
  font-size: 50px;
  position: absolute;
  bottom: 70px;
  right: 0;
  animation: ScrollDown 2s ease-in-out infinite;
  opacity: 0.2;
  display: flex;
  align-items: center;
  gap: 10px;
}

#btnScrollDown::after {
  content: "Scroll Down";
  font-size: 15px;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}

@keyframes ScrollDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(70px);
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .info-Name {
    font-size: 80px;
  }
}

@media screen and (max-width: 768px) {
  .info-Name {
    font-size: 50px;
  }
  .info-Description {
    font-size: 20px;
  }
  .socialNetworks {
    font-size: 50px;
  }
  .btnHireMe {
    padding: 6px 15px;
  }
  #btnScrollDown {
    font-size: 30px;
  }
}
@media screen and (max-width: 470px) {
  .info-Name {
    font-size: 40px;
  }
  .info-Description {
    font-size: 15px;
  }
  .socialNetworks {
    font-size: 40px;
  }
  .btnHireMe {
    padding: 4px 10px;
  }
  .header-Profile {
    padding-top: 150px;
  }
  #btnScrollDown {
    font-size: 30px;
    gap: 0;
  }
  #btnScrollDown::after {
    font-size: 12px;
  }
}

/* ---------------------- About -------------------------- */

.about {
  width: 1000px;
  padding: 100px 0;
  margin: 0 20px;
}
.sectionGray {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
}
.sectionBlue {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkBlue);
}
.sectionTitle {
  position: relative;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--darkBlue);
}

.sectionTitle::after {
  content: "";

  background-color: var(--darkBlue);
  height: 4px;
  width: calc(100% - 375px);
  position: absolute;
  top: 50%;
  left: 375px;
}

.aboutContainer {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 60px;
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutParagraph {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--darkBlue);
}

.aboutPicture {
  min-width: 350px;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-IMG {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #1cc9a1;
}

@media screen and (max-width: 900px) {
  .aboutParagraph {
    font-size: 16px;
  }
  .aboutContainer {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .sectionTitle {
    font-size: 30px;
    font-weight: 600;
  }
  .sectionTitle::after {
    left: 225px;
    width: calc(100% - 225px);
    height: 2px;
  }
  .aboutContainer {
    flex-direction: column-reverse;
  }

  .aboutPicture {
    min-width: 250px;
    height: 400px;
  }
}

/* ---------------------- Projects -------------------------- */

.projects {
  width: 1000px;
  padding: 100px 0;
  margin: 0 20px;
}

.projectsTitle {
  position: relative;
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--green);
}

.projectsTitle::after {
  content: "";

  background-color: var(--green);
  height: 4px;
  width: calc(100% - 375px);
  position: absolute;
  top: 50%;
  left: 375px;
}

.projectsContainer {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 60px;
}

.projectItem {
  width: 45%;
  height: 465px;
}

.projectItem:nth-child(1) {
  margin-bottom: 50px;
}
.projectItem:nth-child(2) {
  margin-bottom: 50px;
}

.projectName {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--green);
}

.projectIMG {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--green);
}

.projectDescription {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;

  margin-bottom: 20px;
  color: var(--White);
}

.projectBtns {
  display: flex;
  gap: 20px;
}

.btnProject {
  text-decoration: none;
  color: var(--darkBlue);
  font-weight: 600;
  font-size: 20px;
  padding: 2px 8px;
  background-color: var(--green);
  border-radius: 6px;
  display: flex;
  gap: 4px;
  align-items: center;
}

#projectBtnIcon {
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .projectsTitle {
    font-size: 30px;
    font-weight: 600;
  }
  .projectsTitle::after {
    height: 2px;
    left: 250px;
    width: calc(100% - 250px);
  }
  .projectsContainer {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .projectItem {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .projectItem:nth-child(1) {
    margin-bottom: 0px;
  }
  .projectItem:nth-child(2) {
    margin-bottom: 0px;
  }
  .projectName {
    font-size: 20px;
  }
  .projectDescription {
    font-size: 16px;
  }
  .projectIMG {
    width: 90%;
  }
  .projectBtns {
    justify-content: center;
  }
  .btnProject {
    font-size: 16px;
    padding: 2px 5px;
  }
}

/* ---------------------- Skills -------------------------- */

.skills {
  width: 1000px;

  padding: 100px 0;
  margin: 0 20px;
}

.skillsTitle {
  position: relative;
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--darkBlue);
}

.skillsTitle::after {
  content: "";

  background-color: var(--darkBlue);
  height: 4px;
  width: calc(100% - 425px);
  position: absolute;
  top: 50%;
  left: 425px;
}

.skillsContainer {
  margin-top: 40px;
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}

.skillsItem {
  width: 30%;
  min-width: 200px;
  height: 200px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  border: 4px solid var(--darkBlue);
  color: var(--darkBlue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.skillsItem:nth-child(1) {
  margin-bottom: 40px;
}

#skillIcon {
  font-size: 100px;
}
.skillIcon {
  width: 100px;
  height: 100px;
  padding: 8px;
}
@media screen and (max-width: 768px) {
  .skillsTitle {
    font-size: 30px;
    font-weight: 600;
  }
  .skillsTitle::after {
    height: 2px;
    left: 275px;
    width: calc(100% - 275px);
  }
  .skillsItem:nth-child(1) {
    margin-bottom: 0;
  }
  .skillsContainer {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .skillsItem {
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  #skillIcon {
    font-size: 80px;
  }
}

/* ---------------------- Education -------------------------- */

.education {
  width: 1000px;

  padding: 100px 0;
  margin: 0 20px;
}

.educationTitle {
  position: relative;
  font-size: 50px;
  margin-bottom: 40px;
  color: var(--green);
}

.educationTitle::after {
  content: "";

  background-color: var(--green);
  height: 4px;
  width: calc(100% - 400px);
  position: absolute;
  top: 50%;
  left: 400px;
}

.educationName {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--darkBlue);
  background-color: var(--green);
  padding: 2px 8px;
}

.educationParagraph {
  font-size: 20px;
  padding: 2px 8px;
  color: var(--White);
}

.educationDate {
  font-size: 20px;
  font-weight: 600;
  padding: 2px 8px;
  color: var(--gray);
}

.educationItem {
  margin-bottom: 40px;
  display: grid;
  gap: 6px;
  border: 4px solid var(--green);
  border-radius: 8px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .educationTitle {
    font-size: 30px;
    font-weight: 600;
  }
  .educationTitle::after {
    height: 2px;
    left: 250px;
    width: calc(100% - 250px);
  }
  .educationName {
    font-size: 20px;
  }
  .educationParagraph {
    font-size: 16px;
  }
  .educationItem {
    border: 2px solid var(--green);
    border-radius: 6px;
  }
}

/* ---------------------- Contact -------------------------- */

.contact {
  width: 1000px;

  padding: 100px 0;
  margin: 0 20px;
}

.contactTitle {
  position: relative;
  font-size: 50px;
  margin-bottom: 40px;
  color: var(--darkBlue);
}

.contactTitle::after {
  content: "";

  background-color: var(--darkBlue);
  height: 4px;
  width: calc(100% - 450px);
  position: absolute;
  top: 50%;
  left: 450px;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.socialEmailTitle,
.socialNetworksTitle {
  font-size: 30px;
  font-weight: 600;
  color: var(--darkBlue);
}

.socialEmail {
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  color: var(--darkBlue);
  display: block;
  margin-bottom: 20px;
}
.contactIcons {
  display: flex;
  gap: 10px;
}

#ContactIcon {
  font-size: 40px;
  color: var(--darkBlue);
}
.contactSocial {
  width: 50%;
}
.contactForm {
  width: 50%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.contactFormHead {
  width: 100%;
  display: flex;
  gap: 10px;
}
.contactFormName {
  width: 40%;
}

.contactFormEmail {
  width: 60%;
}

.contactFormName,
.contactFormEmail,
.contactFormSubject,
.contactFormMessage,
.contactFormBtn {
  font-size: 20px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: var(--green);
  color: var(--darkBlue);
  border: none;
  outline: none;
  border: 2px solid var(--darkBlue);
}

.contactFormName::placeholder,
.contactFormEmail::placeholder,
.contactFormSubject::placeholder,
.contactFormMessage::placeholder,
.contactFormBtn::placeholder {
  color: var(--darkBlue);
}

.contactFormMessage {
  height: 100px;
  resize: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.contactFormBtn {
  align-self: center;
  padding: 10px 16px;
}
.emailBtn {
  display: none;
}

@media screen and (max-width: 900px) {
  .socialEmail {
    font-size: 20px;
  }
  .contactFormHead {
    flex-direction: column;
  }
  .contactFormHead input {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contactTitle {
    font-size: 30px;
    font-weight: 600;
  }
  .contactTitle::after {
    height: 2px;
    left: 300px;
    width: calc(100% - 300px);
  }
  .contactContainer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
  .contactForm {
    width: 100%;
  }
  .contactSocial {
    width: 100%;
  }
  .socialEmailTitle,
  .socialNetworksTitle {
    font-size: 20px;
  }
  .socialEmail {
    font-size: 15px;
  }
  .contactFormName,
  .contactFormEmail,
  .contactFormSubject,
  .contactFormMessage,
  .contactFormBtn {
    font-size: 16px;
  }
}
